<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bus Tracking System</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
         crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
         integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
         crossorigin=""/>
      <style>
         #map { height: 600px; }
      </style>
   </head>
   <body>
      <h1>Bus Tracking System</h1>
      <br>
      <div class="container-fluid">
         <div class="row">
            <div class="col-4">
               <h2>Route Number {{route_number}}</h2>
               <div id="routeList">
                  <div class="row">
                     {% for route_number in route_numbers %}
                     <div class="col-2 mb-2">
                        <button class="btn btn-primary btn-block" onclick="showRouteInfo('{{ route_number }}')">{{ route_number }}</button>
                     </div>
                     {% if forloop.counter|divisibleby:5 and not forloop.last %}
                  </div>
                  <div class="row">
                     {% endif %}
                     {% endfor %}
                  </div>
               </div>
            </div>
            <div class="col-8">
               <h2>Map</h2>
               <div id="map"></div>
            </div>
         </div>
      </div>
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
         integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
         crossorigin=""></script>
      <script>
         function showRouteInfo(routeNumber) {
             window.location.href = `/routes/${routeNumber}/`;
         }
      </script>
      <script src="{% static 'js/main.js' %}"></script>
   </body>
</html>